*.class
*.csproj.user
*.jar
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user
Cadencii/bin/
Cadencii/obj/
CadenciiHelper/Debug/
CadenciiHelper/Release/
CadenciiTest/bin/
CadenciiTest/obj/
Debug/
GenerateKeySound/obj/
Makefile
Release/
ScriptImplement/bin/
ScriptImplement/obj/
TestUtauScript/obj/
ipch/
